* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.rcc {
  display: inline-block;
}

.rcc img {
  width: 100px; /* Default size */
  height: auto;
  display: block;
  transition: transform 0.3s ease-in-out; /* Ensures smooth animation */
}

.rcc:hover img {
  transform: scale(1.2); /* Expands image smoothly */
}




.topnav {
  position: fixed;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  align-items: center;
}

.nav-container {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 40px;
  align-items: center;
}

.topnav a {
  position: relative;
  font-family: Nunito Sans;
  font-size: 30px;
  font-weight: 500;
  line-height: 40.92px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000000c7;
  text-decoration: none;
  margin: 5px;
  transition: color 0.3s ease-in-out;
}

.signup-button {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.signup-button a {
  position: relative;
  font-family: Nunito Sans;
  font-size: 30px;
  font-weight: 500;
  line-height: 40.92px;
  padding: 10px 20px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
  text-decoration: none;
  background-color: #5c1c75;
  border-radius: 15px;
  margin: 5px;
  transition: background-color 0.3s ease-in-out;
}

.nav-container a:hover {
  color: #7d2699;

}

.signup-button a:hover {
  background-color: #7d2699;
}


@media (max-width: 768px) {
  .topnav {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
  }

  .nav-container {
    position: static;
    transform: none;
    flex-direction: column;
    gap: 20px;
  }

  .signup-button {
    margin-top: 10px;
  }
}